body {
     margin: 0, auto;
     
}
.container {
    width: auto;
    margin: 20px;
    border: darkslategrey 1px solid;
    padding: 5px;

}
.image-detail {
    height: 300px;
    padding: 10px;
}

.image-detail-left {
    width: 40%;
    background-color: chocolate;
    height: 300px;
    float: left;
}

.image-detail-right {
    width: 60%;
    height: 300px;
     
    float: left;
}
.padding-10 {
    padding: 5px;
}
.image-node-title {
    color:#01699b;
}
.image-node-button {
    text-align: right;
    color:#01699b;
}
.image-map-box {
    height: 400px;
    padding: 10px;
    overflow: hidden;
}

/*---zoom---
#zoom {
    width: 100%;
    height: 100%;
    transform-origin: 0px 0px;
    transform: scale(1) translate(0px, 0px);
    cursor: grab;
  }
  div#zoom > img {
    width: 100%;
    height: auto;
  }*/

  .div-sample {
    width: 1100;
    height: 400px;
    padding: 10px;
    overflow: scroll;
  }
  
  @media screen and (max-width: 480px) {
    .image-detail-left {
        width: 100%;
        background-color: chocolate;
        height: 100px;
    }
    
    .image-detail-right {
        width: 100%;
        height: auto;
    }
    .image-detail {
        height: 100px;
       
      }
       
  }
  @media screen and (max-width: 768px) {
    .image-detail-left {
        width: 30%;
        background-color: chocolate;
        height: 200px;
    }
    
    .image-detail-right {
        width: 70%;
        height: auto;
    }
    .image-detail {
        height: 200px;
       
      }
       
  }